# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
build/

# Local databases & env files
*.sqlite
*.sqlite3
*.db
.env
.env.local
.env.*.local
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
